include LICENSE CITATION.cff README.md
include .python-version
recursive-include docs *.md
recursive-include examples *.json
recursive-include tests *.py
recursive-include tools *.py
recursive-include .github *.yml
